* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.calculator {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  background-color: #cfd2cf;
  
}

.text-area {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background-color: #858694;
  color: #fff;
  padding-inline-end: 10px;
  font-size: 40px;

}

.button-area {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(169, 167, 167, 0.995);
}

.row {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.row div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border: 1px solid #c0c0c0;
  font-size: 30px;
  cursor: pointer;
}

.row .colored {
  background-color: rgba(245, 145, 62, 255);
}

.row .zero {
  width: 200%;
}
