h1 {
  margin-top: 100px;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}

p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
  margin-top: 20px;
  padding: 0 20px;
}
